<ion-content class="background" [fullscreen]="true">
  <div class="title">
    <ion-text>
      <div>
        <h1 class="flex font-weight">Deutsch
          <div class="padding-title flex">
            <img src="../../assets/bav-flag-icon.png" alt="Icon" class="icon" />
            <div class="title-bavarian">Bairisch</div>
          </div>
        </h1>
        <h1 class="title"> Übersetzer</h1>
      </div>

    </ion-text>
  </div>

  <div [formGroup]="translatorForm" class="box">
    <ion-textarea formControlName="germanText" class="german-text-box" label="Deutsch" labelPlacement="floating"
      fill="outline" placeholder="Gib hier deinen Text ein..."></ion-textarea>
  </div>

  @if(translatorForm.controls.bavarianText.value){
  <div class="box">
    <app-textbox [text]="translatorForm.controls.bavarianText.value"></app-textbox>
  </div>
  }
  @else{
  <div class="translation-area center">
    <ion-button id="translator-button" (click)="translate()">Übersetzen</ion-button>
  </div>
  }

  <div class="speaker-icon">
    <div class="center">

      <ion-button class="speaker-button">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>

    </div>
    <div>
      <img src="../../assets/brezel-icon.png" />
    </div>
  </div>

</ion-content>