<ion-content class="background" [fullscreen]="true">
  <div class="title">
    <ion-text>
      <div>
        <h1 class="flex font-weight">Deutsch
          <div class="padding-title flex">
            <img src="../../assets/bav-flag-icon.png" alt="Icon" class="icon" />
            <div class="title-bavarian">Bairisch</div>
          </div>
        </h1>
        <h1 class="title"> Übersetzer</h1>
      </div>

    </ion-text>
  </div>

  <div class="german-box">
    <ion-textarea class="german-text-box" label="Deutsch" labelPlacement="floating" fill="outline"
      placeholder="Gib hier deinen Text ein..."></ion-textarea>
  </div>

  <div class="translation-button center">
    <ion-button>Übersetzen</ion-button>
  </div>

  @if(false){
  <div>Übersetzung...</div>
  }

  <div class="speaker-icon">
    <div class="center">

      <ion-button class="speaker-button">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>

    </div>
    <div>
      <img src="../../assets/brezel-icon.png" />
    </div>
  </div>

</ion-content>